@import '../../components/sass/Abstract/mixin';

.wrapper {
    margin: 20px 0;
}


.image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    @include respond(phone){
        width: 50px;
        height: 50px;
    }
}

.order-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    + .order-wrapper {
        margin: 20px 0;
    }
}

.order-table {
    width: 70%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    @include respond(tab-land){
        width: 80%;
    }
    @include respond(tab-port){
        width: 90%;
    }
    @include respond(phone){
        width: 100%;
    }
}

.order-info {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    table {
        width: 100%;
        tbody{
            tr{
                td{
                    @include respond(phone){
                        overflow-wrap: anywhere;
                    }
                } 
            }
        }
    }
}

.dropdown-icon{
    font-size: 2.6rem;
    align-self: center;
    cursor: pointer;
}

.order-detail {
    display: flex;
    justify-content: space-between;
}

.product-info {
    padding: 0 20px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include respond(tab-land){
        width: 70%;
    }
    @include respond(tab-port){
        width: 100%;
    }
    @include respond(phone){
        justify-content: start;
        gap: 10px;
    }
}

.product-title {
    min-width: 50%;
}

.product-price {
    align-self: center;
}

