.wrapper {
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: black;
    color: rgb(211, 215, 218);
}

.logo{
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 55%;
}

.col {
    padding: 0 12px;
}