.product{
    padding: 20px 0;
}

.pro-container{
    margin: 50px 0;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-left{
    display: flex;
    // background-color: gray;
    justify-content: center;
    align-items: center;
}

.grid-container {
    width: 80%;
    border: 1px solid rgba(117, 117, 117, 0.842);
    padding: 20px 140px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

.image {
    width: 100%;
}

.grid-right{
    padding: 40px;
    // background-color: blue;
}

.tag {
    margin-left: -20px;
}

.product-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.product-price {
    font-size: 22px;
    font-weight: 700;
}

.add-to-cart-btn{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 50px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 5px 12px 16px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: black;
        color: wheat;
        transition: 0.3s ease;
    }
}

.cart-icon{
    margin-left: 5px;
}

.icon {
    margin-right: 10px;
}

.description{
    margin-top: 20px;
    font-size: 2.4rem;
}

.product-description{
    font-size: 1.8rem;
    font-weight: 400;
    width: 80%;
}

.other-container{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 0;
    overflow-x: auto;
}

.link-container{
    width: 100%;
}

.pro {
    width: 23%;
    min-width: 20%;
    padding: 10px 55px;
    border: 1px solid rgba(117, 117, 117, 0.842);
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);

    &:hover {
        border: 1px solid black;
        background-color: rgba(117, 117, 117, 0.06);
        box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    }

    img {
        width: 100%;
        border-radius: 12px;
    }
}