table {
    font-size: 1.6rem;
}

.content {
    padding-top: 40px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
}