.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.content {
    width: 90%;
    padding: 50px;
}

.card {
    display: grid;
    grid-template-columns: 70% 30%;
}

.card-left {
    padding-right: 10px;
}

.left-box {
    width: 100%;
    border-radius: 20px;
    background-color: #424242;
    padding: 40px;
    color: wheat;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6)
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.cart-box {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.product-image {
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.image {
    width: 100px;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product-name{
    width: 20%;
}

.product-price{
    width: 10%;
}

.quantity-btn {
    min-width: 42.5px;
    padding: 8px 0;
    font-size: 2rem;
    background-color: transparent;
    color: bisque;
}

.quantity-input {
    margin: 0 8px;
    width: 42px;
    padding: 6px;
    background-color: rgb(48, 48, 48);
    color: bisque;
    border: 1px solid rgba(255, 228, 196, 0.3);
}

.close-btn {
    font-size: 2rem;
    padding: 0 10px;
    cursor: pointer;
}

.card-right {
    padding-left: 10px;
}

.right-box {
    width: 100%;
    padding: 40px;
    background-color: #eae8e8;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6)
}

.sumary-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;

    button {
        width: 80%;
        height: 100%;
        border-radius: 10px;
        color:#eae8e8;
        background-color: #424242;

        &:hover {
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
        }
    }
}