.wrapper{
    display: flex;
    padding: 8px 16px;

    &:hover {
        background-color: rgb(0 0 0 / 12%);
    }
}

.category{
    color: #767677;
}

.product-image{
    width: 90px;
    height: 90px;
}

.info{
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

.product-name{

}

.product-price{

}