@import '../../components/sass/Abstract/mixin';

.wrapper {
    display: flex;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
    @include respond(tab-port){
        flex-direction: column;
        gap: 50px;
    }
}

.content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond(tab-port){
        width: 100%;
    }
}